<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-112800473-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-112800473-1');
    </script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>dDesign.ufpe // Docentes</title>
    <link rel="stylesheet" href="dist/css/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="dist/css/style.css">
</head>

<body>
    <div class="container">
        <section id="header">
            <nav class="navbar navbar-expand-lg navbar-light">
                <a class="navbar-brand logo" href="#">
                    <strong>dDesign</strong>.ufpe</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="index.html">Home
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Grade Atual</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Lista de Grupos</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Docentes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Sobre</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </section>

        <section id="corpo">
            <div class="container">
                <div class="row titulo d-flex align-items-end">
                    <div class="col-lg-5 col md 12">
                        <h1>Docentes</h1>
                    </div>
                    <div class="col-lg-4 col-md-12">
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur dicta tempore nobis quidem mollitia voluptate!
                        </p>
                    </div>
                    <div class="col-lg-3 col-md-12 d-flex justify-content-lg-end">
                        <p>
                            <button type="button" class="btn btn-outline-primary btn-sm">
                                <i class="fas fa-arrow-alt-circle-down mr-2"></i>Baixar Versão em PDF</button>
                        </p>
                    </div>
                </div>
                <div class="row mb-5">
                    <!-- Card Professor -->
                    <div class="col-lg-3">
                        <div class="card professor">
                            <img class="card-img-top" src="http://placehold.it/300x250" alt="Card image cap">                    
                            <div class="card-body">
                                <h5 class="card-title">Hans Waechter</h5>
                                <h6 class="card-subtitle mb-2 text-muted">Design de Informação</h6>
                                <hr>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <p class="card-text email"><i class="fas fa-envelope fa-xs mr-1"></i> hans.wachter@ufpe.br</p>
                                <a href="#" class="card-link">Lattes</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3">
                            <div class="card professor">
                                <img class="card-img-top" src="http://placehold.it/300x250" alt="Card image cap">                    
                                <div class="card-body">
                                    <h5 class="card-title">Hans Waechter</h5>
                                    <h6 class="card-subtitle mb-2 text-muted">Design de Informação</h6>
                                    <hr>
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                    <p class="card-text email"><i class="fas fa-envelope fa-xs mr-1"></i> hans.wachter@ufpe.br</p>
                                    <a href="#" class="card-link">Lattes</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3">
                                <div class="card professor">
                                    <img class="card-img-top" src="http://placehold.it/300x250" alt="Card image cap">                    
                                    <div class="card-body">
                                        <h5 class="card-title">Hans Waechter</h5>
                                        <h6 class="card-subtitle mb-2 text-muted">Design de Informação</h6>
                                        <hr>
                                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                        <p class="card-text email"><i class="fas fa-envelope fa-xs mr-1"></i> hans.wachter@ufpe.br</p>
                                        <a href="#" class="card-link">Lattes</a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-3">
                                    <div class="card professor">
                                        <img class="card-img-top" src="http://placehold.it/300x250" alt="Card image cap">                    
                                        <div class="card-body">
                                            <h5 class="card-title">Guilherme Ranoya</h5>
                                            <h6 class="card-subtitle mb-2 text-muted">Design Digital</h6>
                                            <hr>
                                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                            <p class="card-text email"><i class="fas fa-envelope fa-xs mr-1"></i> hans.wachter@ufpe.br</p>
                                            <a href="#" class="card-link">Lattes</a>
                                            <a href="#" class="card-link">Slack</a>
                                        </div>
                                    </div>
                                </div>
                </div>
            </div>
        </section>
        <section id="footer">
            <div class="container">
                Footer
            </div>
        </section>
    </div>
    <a href="#" class="scrollup">
        <i class="fas fa-arrow-circle-up fa-2x"></i>
    </a>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js" integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ"
        crossorigin="anonymous"></script>
    <script src="dist/js/scripts.js"></script>
</body>

</html>