<section id="corpo">
    <div class="container">
        <div class="row titulo d-flex align-items-end">
            <div class="col-lg-5 col md 12">
                <h1>Docentes</h1>
            </div>
            <div class="col-lg-4 col-md-12">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur dicta tempore nobis quidem mollitia voluptate!
                </p>
            </div>
            <div class="col-lg-3 col-md-12 d-flex justify-content-lg-end">
                <p>
                    <button type="button" class="btn btn-outline-primary btn-sm">
                        <i class="fas fa-arrow-alt-circle-down mr-2"></i>Baixar Versão em PDF</button>
                </p>
            </div>
        </div>
        <div class="row mb-5">
            <!-- Card Professor -->
            <div class="col-lg-3">
                <div class="card professor">
                    <img class="card-img-top" src="http://placehold.it/300x250" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Hans Waechter</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Design de Informação</h6>
                        <hr>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <p class="card-text email">
                            <i class="fas fa-envelope fa-xs mr-1"></i> hans.wachter@ufpe.br</p>
                        <a href="#" class="card-link">Lattes</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3">
                <div class="card professor">
                    <img class="card-img-top" src="http://placehold.it/300x250" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Hans Waechter</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Design de Informação</h6>
                        <hr>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <p class="card-text email">
                            <i class="fas fa-envelope fa-xs mr-1"></i> hans.wachter@ufpe.br</p>
                        <a href="#" class="card-link">Lattes</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3">
                <div class="card professor">
                    <img class="card-img-top" src="http://placehold.it/300x250" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Hans Waechter</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Design de Informação</h6>
                        <hr>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <p class="card-text email">
                            <i class="fas fa-envelope fa-xs mr-1"></i> hans.wachter@ufpe.br</p>
                        <a href="#" class="card-link">Lattes</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3">
                <div class="card professor">
                    <img class="card-img-top" src="http://placehold.it/300x250" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Guilherme Ranoya</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Design Digital</h6>
                        <hr>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <p class="card-text email">
                            <i class="fas fa-envelope fa-xs mr-1"></i> hans.wachter@ufpe.br</p>
                        <a href="#" class="card-link">Lattes</a>
                        <a href="#" class="card-link">Slack</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>