<section id="corpo">
    <div class="container">
        <div class="row titulo d-flex align-items-end docentes">
            <div class="col-lg-5 col md 12">
                <h1>Docentes</h1>
            </div>
            <div class="col-lg-4 col-md-12">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur dicta tempore nobis quidem mollitia voluptate!
                </p>
            </div>
            <div class="col-lg-3 col-md-12 d-flex justify-content-lg-end">
                <p>
                    <button type="button" class="btn btn-outline-primary btn-sm">
                        <i class="fas fa-arrow-alt-circle-down mr-2"></i>Baixar Versão em PDF</button>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="docente col-lg-3 col-md-6 col-sm-12" ng-repeat="docente in docentes">
                        <img class="img-fluid" src="http://placehold.it/350x250" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">{{docente.nome}}</h5>
                                <h6 class="card-subtitle mb-2 text-muted">{{docente.area}}</h6>
                                <hr>
                                <p class="card-text">{{docente.bio}}</p>
                                <p class="card-text email">
                                    <i class="fas fa-envelope fa-xs mr-1"></i>{{docente.email}}</p>
                                <a href="{{docente.lattes}}" class="card-link">Lattes</a>
                            </div>
            </div>

        </div>
    </div>
</section>