<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-112800473-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-112800473-1');
    </script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>dDesign.ufpe</title>
    <link rel="stylesheet" href="dist/css/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="dist/css/style.css">
    <link rel="stylesheet" type="text/css" href="dist/css/datatables.css"/>
</head>

<body>
    <div class="container">
        <section id="header">
            <nav class="navbar navbar-expand-lg navbar-light">
                <a class="navbar-brand logo" href="#"><strong>dDesign</strong>.ufpe</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item  active">
                                <a class="nav-link" href="index.html">Home
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Grade Atual</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Lista de Grupos</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="docentes.html">Docentes</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Sobre</a>
                            </li>
                        </ul>
                    </div>
            </nav>
        </section>
        <!-- <section id="header">
            <div class="row d-flex">
                <div class="col-lg-5 logo" href="">
                    <strong>dDesign</strong>.ufpe
                </div>
                <div class="col-lg-3 align-self-end ml-auto">
                    
                </div>
            </div>
        </section> -->
        <section id="corpo">
            <div class="container">
                <div class="row titulo d-flex align-items-end">
                    <div class="col-lg-5 col md 12">
                        <h1>Grupos de Estudo</h1>
                        <h4>2013.2 a 2018.2</h4>
                    </div>
                    <div class="col-lg-4 col-md-12">
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur dicta tempore nobis quidem mollitia voluptate!
                        </p>
                    </div>
                    <div class="col-lg-3 col-md-12 d-flex justify-content-lg-end">
                        <p>
                            <button type="button" class="btn btn-outline-primary btn-sm">
                                <i class="fas fa-arrow-alt-circle-down mr-2"></i>Baixar Versão em PDF</button>
                        </p>
                    </div>
                </div>
                <div class="row mb-5">
                            <table id="listagrupos" class="table display">
                                    <thead>
                                        <tr>
                                            <th>Código</th>
                                            <th>Nome Perfil</th>
                                            <th>Nome da Cadeira</th>
                                            <th>Professor</th>
                                            <th>Ciclo</th>
                                            <th>Ementa</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>DD001 Estética Z</td>
                                            <td>Metodologia Visual</td>
                                            <td>Edinburgh</td>
                                            <td>61</td>
                                            <td>2011/04/25</td>
                                            <td>$320,800</td>
                                        </tr>
                                        <tr>
                                            <td>DD001 Estética A</td>
                                            <td>Embalagens</td>
                                            <td>Edinburgh</td>
                                            <td>61</td>
                                            <td>2011/04/25</td>
                                            <td>$320,800</td>
                                        </tr>
                                   </tbody>
                                   </table>
                </div>
        </section>
        <section id="footer">
            <div class="container d-flex justify-content-between">
                <div class="redes"><i class="fab fa-github mr-1"></i><a>View on Github</a></div>
                <div class="copyright">Made With <3 by Jonathas Souza & Italo Sousa</div>
            </div>
        </section>
    </div>
    <a href="#" class="scrollup"><i class="fas fa-arrow-circle-up fa-2x"></i></a>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js" integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ"
        crossorigin="anonymous"></script>
        
 
        <script type="text/javascript" src="dist/js/datatables.js"></script>
        
    <script src="dist/js/scripts.js"></script>
    <script>
    $(document).ready( function () {
    $('#listagrupos').DataTable({
        "language": {
         "url": "/dist/js/datatablesPTBR.json"
  }
    });
} );
    </script>
</body>

</html>