<section id="corpo">
    <div class="container">
        <div class="row titulo d-flex align-items-end">
            <div class="col-lg-5 col md 12">
                <h1>Grupos de Estudo</h1>
                <h4>2013.2 a 2018.2</h4>
            </div>
            <div class="col-lg-4 col-md-12">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur dicta tempore nobis quidem mollitia voluptate!
                </p>
            </div>
            <div class="col-lg-3 col-md-12 d-flex justify-content-lg-end">
                <p>
                    <button type="button" class="btn btn-outline-primary btn-sm">
                        <i class="fas fa-arrow-alt-circle-down mr-2"></i>Baixar Versão em PDF</button>
                </p>
            </div>
        </div>
        <div class="row mb-5">
            <table id="listagrupos" class="table display">
                <thead>
                    <tr>
                        <th>Código</th>
                        <th>Nome da Cadeira</th>
                        <th>Professor</th>
                        <th>Ciclo</th>
                        <th>Vagas</th>
                        <th>Ementa</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>DD001 Estética Z</td>
                        <td>Metodologia Visual</td>
                        <td>Hans Waechter</td>
                        <td>Intermediário</td>
                        <td>40 vagas</td>
                        <td><i class="fas fa-arrow-alt-circle-down mr-1"></i> PDF</td>
                    </tr>
                    <tr>
                        <td>DD001 Estética A</td>
                        <td>Embalagens</td>
                        <td>Edinburgh</td>
                        <td>61</td>
                        <td>2011/04/25</td>
                        <td>$320,800</td>
                    </tr>
                </tbody>
            </table>
        </div>
</section>
<script>
    $(document).ready(function () {
        $('#listagrupos').DataTable({
            "language": {
                "url": "/dist/js/datatablesPTBR.json"
            }
        });
    });
</script>
