$responsivo: 768px;

@mixin mobile {
  @media (max-width: #{$responsivo}) {
    @content;
  }
}

// Quantidade de Disciplinas por Dia
// Manhã 
$segman: 1;
$terman: 1;
$quaman: 1;
$quiman: 1;
$sexman: 1;

// Tarde
$segtar: 4;
$tertar: 5;
$quatar: 4;
$quitar: 5;
$sextar: 4;

// Cálculo das rows
$termanrow: $segman + 1;
$quamanrow: $termanrow + $quaman + 2;
$quimanrow: $quamanrow + $quiman + 2;
$sexmanrow: $quimanrow + $terman + 2;

$tertarrow: $segman + 1;
$quatarrow: $tertarrow + $quaman + 2;
$quitarrow: $quatarrow + $quiman + 2;
$sextarrow: $quitarrow + $terman + 2;

//Function para escapar a barra como caracter
@function slash() {
  @return unquote("/");
}

//Colocando media querie definida em _mixins.css
@include mobile {

  .manha {
    @for $i from 1 to ($segman + 2) {
      .segman:nth-of-type(#{$i}) {
        grid-column: 1 / 5;
        grid-row: $i slash() ($i + 1);
      }
    }
    
    @for $i from 1 to ($terman + 2) {
      .terman:nth-of-type(#{$i}) {
        grid-column: 1 / 5;
        grid-row: ($termanrow + $i) slash() ($termanrow + $i + 1);
      }
    }
    
    @for $i from 1 to ($quaman + 2) {
      .quaman:nth-of-type(#{$i}) {
        grid-column: 1 / 5;
        grid-row: ($quamanrow + $i) slash() ($quamanrow + $i + 1);
      }
    }
  
    @for $i from 1 to ($quiman + 2) {
      .quiman:nth-of-type(#{$i}) {
        grid-column: 1 / 5;
        grid-row: ($quimanrow + $i) slash() ($quimanrow + $i + 1);
      }
    }
  
    @for $i from 1 to ($sexman + 2) {
      .sexman:nth-of-type(#{$i}) {
        grid-column: 1 / 5;
        grid-row: ($sexmanrow + $i) slash() ($sexmanrow + $i + 1);
      }
    }
  }

  .tarde {
    @for $i from 1 to ($segtar + 2) {
      .segtar div:nth-child(#{$i}) {
        grid-column: 1 / 5;
        grid-row: $i slash() ($i + 1);
      }
    }
    
    @for $i from 1 to ($tertar + 2) {
      .tertar div:nth-child(#{$i}) {
        grid-column: 1 / 5;
        grid-row: ($tertarrow + $i) slash() ($tertarrow + $i + 1);
      }
    }
    
    @for $i from 1 to ($quatar + 2) {
      .quatar div:nth-child(#{$i}) {
        grid-column: 1 / 5;
        grid-row: ($quatarrow + $i) slash() ($quatarrow + $i + 1);
      }
    }
  
    @for $i from 1 to ($quitar + 2) {
      .quitar div:nth-child(#{$i}) {
        grid-column: 1 / 5;
        grid-row: ($quitarrow + $i) slash() ($quitarrow + $i + 1);
      }
    }
  
    @for $i from 1 to ($sextar + 2) {
      .sextar div:nth-child(#{$i}) {
        grid-column: 1 / 5;
        grid-row: ($sextarrow + $i) slash() ($sextarrow + $i + 1);
      }
    }
  }

}