@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700,700i');
@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,700');

$maincolor: #7F2041;
$darkercolor: darken($maincolor, 15%);
$sidecolor: #FFB800;;
$bodycolor: #222;
$strongcolor: darken($bodycolor, 15%);

$light: 70%;
$dark: 10%;

$fontheading: 'Work Sans', monospace;
$fontbody1: 'Work Sans', sans-serif;
$fontbody2: 'Roboto', sans-serif;

$sizebody: 13px;
$sizetitulo: 37px;

$cores: (
sociedade: #3D8218,
ciencia: rgb(212, 138, 0),
tecnologia: #6A191B,
estetica: #003D82,
obrigatorio: rgb(104, 104, 104),
pcc: #503700
);