@import '_variables';
@import '_mixins';


////////////////////////////////////////////// Geral

body {
padding-top: 10vh;
padding-bottom: 5vh;
font-family: $fontbody2;
}

h1,h2,h3,h4, h5, h6 {
    font-family: $fontheading;
}


//////////////////////////////////////////// Seções

////////////// Header

#header {
    color: $maincolor;
    border-bottom: 1px solid $maincolor;
    margin-bottom: 15px;

    .logo {
    font-size: 20px;
    line-height: 40px;
    font-family: $fontheading;    
    }
}

////////////// Corpo

#corpo {
    
    padding-top: 10px;

/////// Área de Titulo

    .titulo {

        border-bottom: 1px solid $maincolor;
        padding-bottom: 20px;
        margin-bottom: 40px;

    h1 {
        font-weight: 300;
        font-size: 45px;
        margin: 0px;
        color: $maincolor;
    }

    h4 {
        font-size: 24px;
        font-weight: 400;
        margin: 0px;
    }

    p {
        font-size: 12px;
        margin-bottom: 0px;
    }
    }
}

////// Sidebar

.legenda {
    
    border-right: 1px $maincolor solid;

    h4 {
        display: block;
        @include textobonitinho(4px, 500);
        font-size: 18px;
        border-bottom: 1px solid gray;
    }

    
}

dt {
    display: block;
    font-size: 13px;
    font-weight: 400;
    margin: 0px 0px 5px 0px;
}

@each $eixo, $cor in $cores {
    .legenda .#{$eixo} span {
        display: inline-block;
        width: 10%;
        height: 10px;
        margin-right: 10px;
        background: $cor;
        @include border-radius(5px);
    }
    }


// Grid Grupos de Estudo
#tabela {
    padding-bottom: 30px;
}

//Tabs
.tabs {
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 10px;

    #tab1, #tab2 {
        @include transition(0.25s ease-in-out);
    }
    
    li {
        list-style: none;
        float:left;
        width:50%;
    }
  
    a {
    display:block;
    @include textobonitinho(4px, 300);
    text-align: center;
    font-size: 20px;
    padding:20px 0;
    border-bottom:2px solid darken($color: lightgrey, $amount: 5);
    background: lightgrey;
    color: darkgrey;
    @include transition(0.15s ease-in);

    
    &:hover, &.active {
      background:$sidecolor;
      color: $maincolor;
      border-bottom:2px solid darken($color: $sidecolor, $amount: 5);
    }
  }
}

.clearfix:after {
    content:"";
    display:table;
    clear:both;
}

/* Grid Tabela */

.manha, .tarde {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 12px;

    .dias {
        @include textobonitinho(3px, 400);
        text-align: center;
        font-size: 15px;
        color: white;
        background-color: rgb(44, 44, 44);
        line-height: 40px;
        margin-bottom: 12px;
    }

    @include mobile {
        .dias {
            font-size: 25px;
            line-height: 80px;
            margin-top: 25px;
        }

        .segunda .dias {
            margin-top: 0px;
        }
    }


/* Cores Eixos */

@each $eixo, $cor in $cores {
    .#{$eixo} {
        background: mix(white, $cor, $light);
        border-bottom: 2px solid mix(black, $cor, $dark);
        
            .codigos {
                background-color: $cor;
            }

            button {
            background-color: $cor;
            @include transition(0.15s ease-in);
            }

            button:hover {
                background-color: darken($cor, $dark);
            }
    }
}
}
/* Grupo de Estudo - Elementos */

.grupo {

    .codigos {
        font-size: 12px;
        color: white;
        padding: 4px 10px;
    
        .nomeperfil {
            float: right;
        }
    }

    .info {
        padding: 10px;
    }

    .nomecadeira {
        font-family: $fontheading;
        font-size: 18px;
        line-height: 20px;
        font-weight: 500;
        margin-top: 10px;
        margin-bottom: 2px;
    }
    
    .professor {
        font-size: 15px;
        font-weight: 400;
        margin-top: 0px;
        margin-bottom: 8px;
    }


    hr {
        margin-top: 0.4em;
        margin-bottom: 0.7em;
        }
    .nivel,
    .vagasmatricula {
        display: block;
        font-size: 13px;
    }

    button {
        margin-top: 15px;
        font-size: calc(#{$sizebody} * 0.9);
        line-height: 30px;
        width: 100%;
        display: block;
        border: 0;
        color: #fff;
        cursor: pointer;
        @include textobonitinho(5px, 300);
        @include border-radius(5px);
    }

    button:hover {
        @include box-shadow(0px, 0px, 5px, rgba(0,0,0,0.2));
        margin-top: 12px;
        margin-bottom: 3px;
    }
}

.cadeiraspcc {
    grid-column: 1/6;
    padding: 20px;
}

// FOOTER

#footer{
    background: $maincolor;
}