@import '_variables';
@import '_mixins';

body {
    background-color: rgba(0,0,0,0.05);
    font-family: $fontbody2;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $fontheading;
}

/* Loader
from http://epic-spinners.epicmax.co/ */


/* ============================  G R A D E ========================== */

#header {
    

    h1 {
        font-weight: 300;
        font-size: 58px;
        color: $sidecolor;
        margin: 0px;
    }

    h2 {
        font-weight: 400;
        font-size: 28px;
        color: $sidecolor;
        margin: 0px; 
    }

    p {
        color: white;
        font-family: $fontbody1;
        font-size: 14px;
    }
}

#wrapper {
    background-color: white;
    margin: 10vh;
    @include border-radius(10px);
}

/* Grid */


/* Sidebar */
#sidebar {
    background-color: $maincolor;

    @include mobile {
        border-right: 0px;
        border-bottom: 1px solid $maincolor;
        margin-bottom: 20px;
    }

    h4 {
        color: $maincolor;
        font-weight: 400;
        font-size:18px;
        text-transform: uppercase;
        letter-spacing: 4px;
        margin:0;
    }

    .legenda > dt {
        display: block;
        font-size: 12px;
        margin: 0px 0px 5px 0px;
    }

    @each $eixo, $cor in $cores {
        .legenda .#{$eixo} span {
            display: inline-block;
            width: 10%;
            height: 10px;
            margin-right: 10px;
            background: $cor;
            @include border-radius(5px);
        }
        }

}


#main {
    padding: 30px;
}
/* ============================  G R A D E ========================== */



/* Tabs Manhã/Tarde */

.tabs {
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 10px;

    #tab1, #tab2 {
        @include transition(0.25s ease-in-out);
    }
    li {
        list-style: none;
        float:left;
        width:50%;
    }
  
    a {
    display:block;
    @include textobonitinho(4px, 300);
    font-size: 20px;
    padding:20px 0;
    border-bottom:2px solid darken($color: lightgrey, $amount: 5);
    background: lightgrey;
    color: darkgrey;
    @include transition(0.15s ease-in);

    
    &:hover, &.active {
      background:$sidecolor;
      color: $maincolor;
      border-bottom:2px solid darken($color: $sidecolor, $amount: 5);
    }
  }
}

.clearfix:after {
    content:"";
    display:table;
    clear:both;
}

/* Grid Tabela */

.manha, .tarde {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 12px;

    .dias {
        @include textobonitinho(3px, 400);
        font-size: 15px;
        color: white;
        background-color: rgb(44, 44, 44);
        line-height: 40px;
        margin-bottom: 12px;
    }

    @include mobile {
        .dias {
            font-size: 25px;
            line-height: 80px;
            margin-top: 25px;
        }

        .segunda .dias {
            margin-top: 0px;
        }
    }

/* Cores Eixos */

    @each $eixo, $cor in $cores {
        .#{$eixo} {
            background: mix(white, $cor, $light);
            border-bottom: 2px solid mix(black, $cor, $dark);
            .codigo {
                background-color: $cor;
            }

            button {
            background-color: $cor;
            @include transition(0.15s ease-in);
            }

            button:hover {
                background-color: darken($cor, $dark);
            }
        }
}


/* Grupo de Estudo - Elementos */

    .grupo {
        margin-bottom: 12px;
        @include border-radius(5px);
        @include box-shadow(0px, 0px, 15px, rgba(0,0,0,0.3));
    }

    .codigo {
        width: 100%;
        color: white;
        padding: 5px 8px;
        font-size: 12px;
        
        span:nth-of-type(2)::before {
            content:"\00a0 \00b7 \00a0";
        }

        @include desktop {
            
            span:nth-of-type(2) {
                float: right;
            }

            span:nth-of-type(2)::before {
                content:"";
            }
        }
    }

    .conteudo {
        padding:8px;
    }

    h4 {
        color: black;
        font-family: $fontbody1;
        font-weight: 500;
        margin: 5px 0px;
        font-size: calc(#{$sizetitulo} * 0.41);
        line-height: calc(#{$sizetitulo} * 0.4);
    }

    p {
        font-size: $sizebody;
        line-height: $sizebody;
        margin:0px;
    }

    .professor {
        font-weight: 500;
        margin-top: 10px;
    }

    p.ciclo {
        margin: 5px 0px;
    }

    p.local {
        font-weight: 700;
        margin-top: 10px;
        font-size: calc(#{$sizebody} * 1.1);
    }

    a {
        text-decoration: none;
    }
    
    button {
        margin-top: 15px;
        font-size: calc(#{$sizebody} * 0.9);
        line-height: 30px;
        width: 100%;
        display: block;
        border: 0;
        color: #fff;
        cursor: pointer;
        @include textobonitinho(5px, 300);
        @include border-radius(20px);
    }

    button:hover {
        @include box-shadow(0px, 0px, 5px, rgba(0,0,0,0.2));
        margin-top: 12px;
        margin-bottom: 3px;
    }

    .sem {
        display: none;
    }
}

.cadeiraspcc {
    grid-column: 1/6;
    padding: 20px;

    h3 {
        margin: 0px 0px 20px 0px;
    }
    .grid {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-gap: 15px;
    }
    .professor {
        font-size: 12px;
        font-weight: 400;
    }

    @include mobile {
        .area {
            grid-column: 1/7;
        }
    }
}


@include mobile {
        .manha>div,
        .tarde>div {
            grid-column: 1/6;
        }
}
/* Ajustes */

/* .manha>div,
.tarde>div {
    padding: 8px;
} */

/* ============================  FOOTER ========================== */

#footer {

    background-color: #1a1a1a;

    .copyright {
        text-align: right;
        font-size: 10px;
        color: white;
        font-family: $fontheading;
        font-weight: 300;

        a {
            text-decoration: none;
            color: $sidecolor;
            font-weight: 400;
        }
    }
}

